.pane {
  display: flex;
}

.summary {
  height: 100%;
  width: 60%;
  background-color: white;
  padding: 36px 20px 20px 20px;
  box-sizing: border-box;
}

.topics {
  height: 100%;
  background-color: var(--pale-gray);
  padding: 36px 20px 20px 20px;
  line-height: 16pt;
  box-sizing: border-box;
}

.topics-heading {
  border-top: 4px solid var(--slate);
}

.topics-content {
  border-top: 2px solid lightgray;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: medium;
  font-weight: bold;
  margin-top: 7px;
}

h3 {
  font-size: small;
  font-weight: lighter;
}

p {
  margin-top: 7px;
  margin-bottom: 7px;
}

@media (min-width: 691px) {
  .pane {
    height: 260px;
    border-left: 4px solid var(--orange);
  }

  .topics {
    width: 40%;
  }
}

@media (max-width: 690px) {
  .pane {
    flex-direction: column;
    height: 495px;
    border-top: 4px solid var(--orange);
  }

  .summary {
    width: 100%;
    padding: 20px;
  }

  .topics {
    width: 100%;
  }
}
