.wide {
  margin: auto;
}

.course-list {
  display: flex;
  flex-direction: column;
}

.course-pane {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 691px) {
  .wide {
    width: 66vw;
  }
}

@media (max-width: 690px) {
  .wide {
    width: 88vw;
  }
}